/*profile*/
section.profile {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}

div.placeholder {
    height: 125px;
}

@media (max-width: 950px) {
    div.placeholder {
        height: 175px;
    }
}

img.me {
    margin: 20px;
    border: dashed;
    border-color: #BEE9E8;
    border-radius: 100%;
    height: auto;
}

div.textballon {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid #5FA8D3;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
}

div.intro {
    margin: 10px 10px 0 0;
    padding: 30px;
    background-color: #5FA8D3;
    color: #1B4965;
    font-weight: 600;
    border-radius: 20px;
    width: 400px;
    max-height: 300px;
}
