/*project*/
.placeholder {
    height: 175px;
}

.background-element {
    position: fixed;
    top: 0;
    left: 50%;
    width: 950px;
    height: 100vh;
    background-color: #0D2330;
    opacity: 0.6;
    transform: translateX(-50%);
    z-index: -1;
}

.project-description {
    margin: 10px auto;
    max-width: 925px;
}

@media only screen and (max-width: 768px) {
    .project-description {
        width: 90%;
    }
}

ul {
    margin-left: 25px;
    margin-bottom: 20px;
}

ul.project-info li {
    display: flex;
    list-style-type: none;
    margin-bottom: 5px;
}

ul.project-info li i {
    padding: 0 5px 0 0;
    font-size: 15px;
    width: 30px;
}

.paragraph {
    margin-bottom: 20px;
    margin-left: 10px;
}

a.text {
    text-decoration: none;
    position: relative;
    color: #62B6CB;
}

a.text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #62B6CB;
    transform: scaleX(0);
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: left;
}

a.text:hover {
    transition: color 0.3s ease;
}

a.text:hover::after {
    transform: scaleX(1);
}

a.text:active {
    color: #3F8098;
}

a.text:active::after {
    background-color: #3F8098;
}

.project-images {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 950px;
    justify-items: center;
}

@media only screen and (max-width: 768px) {
    .project-images {
        display: -webkit-inline-box;
        display: grid;
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        width: 95%;
        margin: 0 auto;
    }
}

.project-images img {
    display: -webkit-inline-box;
    padding: 10px 10px;
    max-width: 100%;
    border-radius: 20px;
}

.yt-container {
    position: relative;
    margin: 0 auto;
    max-width: 925px;
    width: 90%;
    aspect-ratio: 16 / 9;
    height: auto;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}