/* navigation bar component */

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--background-color-dark);
    border-bottom: dashed var(--accent-color);
    min-height: var(--navigation-bar-height);
    align-content: center;
    z-index: var(--front-z);
}

.nav .container {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--content-width);
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/* headings */
.nav h1 {
    font-size: 50px;
    color: var(--primary-color);
}

.nav h2 {
    font-size: 25px;
    font-style: italic;
    color: var(--background-color-light);
}

/* navigation */
.nav nav {
    align-content: center;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: var(--secondary-color);
    color: var(--background-color-light);
    border: 1px solid transparent;
    border-radius: var(--border-radius-button);
    transition: background-color var(--transition-speed) var(--transition-ease), 
            transform var(--transition-speed) var(--transition-ease),
            box-shadow var(--transition-speed) var(--transition-ease);
}

.nav ul li a:hover {
    background-color: var(--tertiary-color);
    transform: var(--button-scale);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav ul li a:active {
    background-color: var(--primary-color);
}

/* responsive adjustments */
@media only screen and (max-width: 768px) {
    .nav {
        min-height: var(--navigation-bar-height-mobile);
    }

    .nav .container {
        justify-content: center;
    }

    .nav h1 {
        font-size: 40px;
    }

    .nav ul li a {
        padding: 5px;
        margin: 5px 5px 0;
        font-size: 20px;
    }
}