/* layout component */

.layout .s-spacer {
    height: 20px;
}

.layout .m-spacer {
    height: 130px;
}

.layout .l-spacer {
    height: 175px;
}

.layout h1 {
    font-size: 30px;
    color: var(--background-color-dark);
    margin: 10px auto;
    margin-bottom: 20px;
    border-bottom: dashed var(--accent-color);
    padding: 0 10px;
}

@media only screen and (max-width: 950px) {
    .layout .s-spacer {
        height: 50px;
    }

    .layout .m-spacer {
        height: 160px;
    }
}